@*Create the layout with simple style applied accorss all pages.
*@
 <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/site.css" rel="stylesheet" />
@*    Add the Font-Awesome package*@   
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

@*    Navigation bar*@    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BookList</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
@*            Adding the cart-summary here
*@            <div class="col-6 text-right">
                <vc:cart-summary />
            </div>
        </div>
    </nav>

      <div class="row">
          <div class="col-md-3 bg-light text-dark">
              <br />
              <br />
              <br />
              <h2 class="">ザ・スーパーゴールデンブックリスト</h2>
@*              <vc:navigation-menu />*@
              <vc:navigation-menu-view-components></vc:navigation-menu-view-components>
          </div>
          <br />
          <br />
          <div class="col-md-9">
                @RenderBody()
          </div>
      </div>

    <script src="~/js/site.js"></script>
</body>
</html>