@{
    ViewData["Title"] = "World Order";
}

<h1>@ViewData["Title"]</h1>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="ratio ratio-2x1">
    <iframe src="https://www.youtube.com/watch?v=QoNx1P6nMoU&list=RDQoNx1P6nMoU&start_radio=1" title="V" allowfullscreen></iframe>
</d